<!-- TABEL KITA -->
<table
    class="text-center tw-text-[1.2vw] portrait:tw-text-[2.7vw] rounded shadow-sm overflow-hidden tw-w-[96vw] tw-border-separate tw-border-spacing-[1px] tw-border tw-bg-blue-200">
    <thead class="tw-h-[50px]">
        <tr class="tw-bg-[rgb(224,237,255)]">
            <th>no</th>
            <th>gambar barang</th>
            <th>id barang</th>
            <th>nama barang</th>
            <th>jenis barang</th>
            <th>jumlah barang</th>
            <th class="tw-w-[17vw]">opsi</th>
        </tr>
    </thead>
    <tbody>
        <% if (dataBarang.length < 1) { %>
            <tr>
                <th colspan="7" class="bg-warning text-white tw-tracking-wide tw-text-[1vw]">
                    TIDAK ADA (<%= cari %>) DIDALAM DATABASE!
                </th>
            </tr>
            <% } %>
                <% dataBarang.forEach((barang, i)=> {i++ %>
                    <tr class="hover:tw-bg-blue-50 tw-bg-white">
                        <th class="tw-max-w-[10vw]">
                            <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
                                <p class="m-auto px-2 tw-text-ellipsis tw-whitespace-normal">
                                    <%= i %>
                                </p>
                            </div>
                        </th>
                        <td class="tw-max-w-[10vw]">
                            <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
                                <img src="<%= barang.gambar_barang %>" width="45"
                                    alt="gambar <%= barang.nama_barang %>">
                            </div>
                        </td>
                        <td class="tw-max-w-[10vw]">
                            <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
                                <p class="m-auto px-2 tw-text-ellipsis tw-whitespace-normal">
                                    <%= barang.id_barang %>
                                </p>
                            </div>
                        </td>
                        <td class="tw-max-w-[10vw]">
                            <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
                                <p class="m-auto px-2 tw-text-ellipsis tw-whitespace-normal">
                                    <%= barang.nama_barang %>
                                </p>
                            </div>
                        </td>
                        <td class="tw-max-w-[10vw]">
                            <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
                                <p class="m-auto px-2 tw-text-ellipsis tw-whitespace-normal">
                                    <%= barang.kategori_barang %>
                                </p>
                            </div>
                        </td>
                        <td class="tw-max-w-[10vw]">
                            <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
                                <p class="m-auto px-2 tw-text-ellipsis tw-whitespace-normal">
                                    <%= barang.jumlah_barang %>
                                </p>
                            </div>
                        </td>
                        <td class="p-2">
                            <div class="d-flex tw-justify-center tw-items-center portrait:tw-flex-wrap gap-1">
                                <div
                                    class="text-white tw-bg-orange-400 text-decoration-none rounded tw-cursor-pointer py-1 tw-w-[100%]">
                                    detail
                                </div>
                                <div class="text-white tw-bg-blue-500 rounded tw-cursor-pointer tw-flex-grow-1 py-1 tw-w-[100%]"
                                    onclick="goTo(`/pilihBarangDipinjam/<%=barang.id_barang%>`, {delay : 100});">
                                    pinjam
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
    </tbody>
</table>
<!-- TABEL KITA -->

<!-- INPUT EDIT -->
<div
    class="tw-p-1 w-50 tw-bg-[rgb(227,238,255)] d-flex flex-column rounded shadow-sm tw-top-[50%] tw-left-[100%] tw-translate-x-[0%] tw-translate-y-[-50%] tw-fixed flex opacity-1 tw-transition-all tw-duration-300 tw-ease-in-out input--edit">
    <div class="tw-bg-[rgb(177,208,255)] rounded text-center mb-1 py-1 text-white position-relative">
        Edit Data
    </div>

    <!-- FORM EDIT -->
    <form action="/pinjamBarang" method="post" class="d-flex flex-column w-100 form--add">
        <div class="d-flex justify-content-evenly align-items-center bg-white p-2"
            style="border-radius: 4px 4px 0px 0px">
            <span class="text-left" style="width: 15vw">Gambar Barang</span>
            <input type=" text" class="form-control !tw-bg-blue-50" name="gambar_barang" placeholder="gambar barang"
                value="RENCANANYA NANTI BAKALAN DIISI GAMBAR BARANG" readonly />
        </div>
        <div class="d-flex justify-content-evenly align-items-center bg-white p-2"
            style="border-radius: 4px 4px 0px 0px">
            <span class="text-left" style="width: 15vw">Id Barang</span>
            <input type=" text" class="form-control !tw-bg-blue-50" name="id_barang" placeholder="id barang"
                value="<%= selectedData.id_barang ?? 'eaerawer' %>" readonly required />
        </div>
        <div class="d-flex justify-content-evenly align-items-center bg-white p-2"
            style="border-radius: 4px 4px 0px 0px">
            <span class="text-left" style="width: 15vw">Nama Barang</span>
            <input type=" text" class="form-control" name="nama_barang" placeholder="nama barang"
                value="<%= selectedData.nama_barang ?? '' %>" readonly required />
        </div>
        <div class="d-flex justify-content-evenly align-items-center bg-white p-2">
            <span class="text-left" style="width: 15vw">Kategori Barang</span>
            <input type=" text" class="form-control" name="kategori_barang" placeholder="jenis barang"
                value="<%= selectedData.kategori_barang ?? '' %>" readonly required />
        </div>
        <div class="d-flex justify-content-evenly align-items-center bg-white p-2">
            <span class="text-left" style="width: 15vw">Jumlah Barang Dipinjam</span>
            <input type="number" class="form-control" name="jumlah_barang_dipinjam" placeholder="jumlah barang dipinjam"
                value="" required />
        </div>
        <div class="d-flex justify-content-evenly align-items-center bg-white p-2">
            <span class="text-left" style="width: 15vw">Nim Peminjam</span>
            <input type="number" class="form-control" name="nim_peminjam" id="nimPeminjam" placeholder="nim peminjam"
                required />
        </div>
        <div class="d-flex justify-content-evenly align-items-center bg-white p-2">
            <span class="text-left" style="width: 15vw">Waktu Meminjam</span>
            <input type="text" class="form-control" name="waktu_meminjam" id="waktuMeminjam"
                placeholder="Waktu Meminjam" required />
        </div>
        <div class="d-flex justify-content-center align-items-center gap-5 bg-white p-3"
            style="border-radius: 0px 0px 4px 4px">
            <button type="submit" class="btn btn-outline-success px-4">
                pinjam
            </button>
            <button type="reset" class="btn btn-outline-info px-4">
                reset
            </button>
        </div>
    </form>
</div>
<!-- INPUT EDIT -->