<!-- TABEL KITA -->
<table class="text-center tw-text-[1.2vw] portrait:tw-text-[2.7vw] rounded shadow-sm overflow-hidden tw-w-[96vw] tw-border-separate tw-border-spacing-[1px] tw-border tw-bg-blue-200">
  <thead class="tw-h-[50px]">
    <tr class="tw-bg-[rgb(224,237,255)]">
      <th class="tw-w-[3vw]">no</th>
      <th>id peminjaman</th>
      <th>tanggal meminjam</th>
      <th>tanggal mengembalikan</th>
      <th>id barang yang dipinjam</th>
      <th>jumlah barang dipinjam</th>
      <th>nim peminjam</th>
      <th>status peminjaman</th>
      <th class="tw-w-[14vw]">opsi</th>
    </tr>
  </thead>
  <tbody>
    <% if (dataPeminjaman.length < 1) { %>
    <tr>
      <th colspan="9" class="bg-warning text-white tw-tracking-wide tw-text-[1vw]">
        TIDAK ADA (<%= cari %>) DIDALAM DATABASE!
      </th>
    </tr>
    <% } %>
    <% dataPeminjaman.forEach((peminjaman, i)=> {i++ %>
    <tr class="hover:tw-bg-blue-50 tw-bg-white">
      <th class="tw-max-w-[10vw]">
        <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
          <p class="px-2 m-auto tw-text-ellipsis tw-whitespace-normal">
            <%= i %>
          </p>
        </div>
      </th>
      <td class="tw-max-w-[10vw]">
        <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
          <p class="px-2 m-auto tw-text-ellipsis tw-whitespace-normal">
            <%= peminjaman.id_peminjaman %>
          </p>
        </div>
      </td>
      <td class="tw-max-w-[15vw]">
        <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
          <p class="px-2 m-auto tw-text-ellipsis tw-whitespace-normal">
            <%= peminjaman.tanggal_meminjam %>
          </p>
        </div>
      </td>
      <td class="tw-max-w-[15vw]">
        <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
          <p class="px-2 m-auto tw-text-ellipsis tw-whitespace-normal">
            <%= peminjaman.tanggal_mengembalikan %>
          </p>
        </div>
      </td>
      <td class="tw-max-w-[10vw]">
        <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
          <p class="px-2 m-auto tw-text-ellipsis tw-whitespace-normal">
            <%= peminjaman.id_barang %>
          </p>
        </div>
      </td>
      <td class="tw-max-w-[10vw]">
        <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
          <p class="px-2 m-auto tw-text-ellipsis tw-whitespace-normal">
            <%= peminjaman.barang_dipinjam %>
          </p>
        </div>
      </td>
      <td class="tw-max-w-[10vw]">
        <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
          <p class="px-2 m-auto tw-text-ellipsis tw-whitespace-normal">
            <%= peminjaman.nim_mahasiswa %>
          </p>
        </div>
      </td>
      <td class="tw-max-w-[10vw]">
        <div class="tw-h-[7vh] overflow-auto d-flex justify-content-center align-items-center">
          <p class="px-2 m-auto tw-text-ellipsis tw-whitespace-normal">
            <%= peminjaman.status %>
          </p>
        </div>
      </td>
      <td class="p-2">
        <div class="gap-1 d-flex tw-justify-center tw-items-center portrait:tw-flex-wrap">
          <div class="text-white tw-bg-orange-400 text-decoration-none rounded tw-cursor-pointer py-1 tw-w-[100%]" onclick="goTo(`/detailPinjam/<%= peminjaman.id_peminjaman %>`, {delay: 100})">
            detail
          </div>
          <% if (peminjaman.status=="meminjam" ) { %>
          <div class="text-white tw-bg-orange-400 text-decoration-none rounded tw-cursor-pointer py-1 tw-w-[100%]" onclick="goTo(`/dipinjamkan/<%= peminjaman.id_peminjaman %>`, {delay: 100})">
            pinjamkan
          </div>
          <% }else if (peminjaman.status=="mengembalikan" ){ %>
          <div class="text-white tw-bg-orange-400 text-decoration-none rounded tw-cursor-pointer py-1 tw-w-[100%]" onclick="goTo(`/diterima/<%= peminjaman.id_peminjaman %>`, {delay: 100})">
            terima
          </div>
          <% } %>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<!-- TABEL KITA -->

<!-- DETAIL -->
<div class="tw-p-1 tw-min-w-[90vw] tw-max-w-[90vw] tw-bg-[rgb(227,238,255)] d-flex flex-column rounded shadow-sm tw-top-[52%] tw-left-[100%] tw-translate-x-[0%] tw-translate-y-[-50%] tw-fixed flex opacity-1 tw-transition-all tw-duration-300 tw-ease-in-out input--detail">
  <div class="tw-bg-[rgb(156,195,255)] rounded text-center mb-1 py-1 text-white position-relative">
    Detail Peminjaman
  </div>

  <!-- FORM DETAIL -->
  <form action="/editPeminjaman" method="post" class="flex-wrap gap-1 tw-w-full d-flex portrait:tw-flex-col align-items-center form--add">
    <!-- GAMBAR -->
    <div class="d-flex justify-content-evenly align-items-center bg-white p-2 tw-w-[49.8%] tw-h-[40vh] rounded overflow-hidden">
      <img src="<%= selectedData.gambar_barang %>" class="tw-w-[60%] portrait:tw-w-[50%]" alt="gambar <%= selectedData.nama_barang %>" />
      <input type="text" class="form-control !tw-bg-blue-50" name="gambar_barang" placeholder="gambar barang" value="<%= selectedData.gambar_barang %>" readonly hidden />
    </div>
    <!-- GAMBAR -->

    <!-- PEMINJAMAN -->
    <div class="d-flex flex-column tw-w-[49.8%] tw-min-h-[40vh] bg-white rounded overflow-hidden fw-bold">
      <div class="d-flex justify-content-evenly align-items-center bg-white p-2 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Id Peminjaman</span>
        <input type="text" class="form-control !tw-bg-blue-50" name="id_peminjaman" placeholder="id peminjaman" value="<%= selectedData.id_peminjaman ?? 'eaerawer' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white p-2 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Nim Peminjam</span>
        <input type="number" class="form-control !tw-bg-blue-50" name="nim_mahasiswa" placeholder="nim mahasiswa" value="<%= selectedData.nim_mahasiswa ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white p-2 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Tanggal Meminjam</span>
        <input type="text" class="form-control !tw-bg-blue-50" name="tanggal_meminjam" placeholder="tanggal meminjam" value="<%= selectedData.tanggal_meminjam ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white p-2 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Tanggal Mengembalikan</span>
        <input type="text" class="form-control !tw-bg-blue-50" name="tanggal_mengembalikan" placeholder="tanggal mengembalikan" value="<%= selectedData.tanggal_mengembalikan ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white p-2 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Status Peminjaman</span>
        <% if (selectedData && selectedData.status==="meminjam") { %>
        <input type="text" class="form-control !tw-bg-yellow-400" name="status" id="statusPeminjaman" placeholder="status peminjaman" value="<%= selectedData.status ?? '' %>" readonly required />
        <% }else if(selectedData && selectedData.status==="dipinjamkan"){ %>
        <input type="text" class="form-control !tw-bg-teal-400 text-white tw-tracking-wider" name="status" id="statusPeminjaman" placeholder="status peminjaman" value="<%= selectedData.status ?? '' %>" readonly required />
        <% } %>
      </div>
    </div>
    <!-- PEMINJAMAN -->

    <!-- BARANG -->
    <div class="d-flex flex-column tw-w-[49.8%] tw-h-[40vh] rounded overflow-hidden">
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Id Barang</span>
        <input type="number" class="form-control !tw-bg-blue-50" name="id_barang" placeholder="id barang" value="<%= selectedData.id_barang ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Nama Barang</span>
        <input type=" text" class="form-control !tw-bg-blue-50" name="nama_barang" placeholder="nama barang" value="<%= selectedData.nama_barang ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Kategori Barang</span>
        <input type=" text" class="form-control !tw-bg-blue-50" name="kategori_barang" placeholder="jenis barang" value="<%= selectedData.kategori_barang ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Jumlah Barang</span>
        <input type="number" class="form-control !tw-bg-blue-50" name="jumlah_barang" placeholder="jumlah barang" value="<%= selectedData.jumlah_barang ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Barang Dipinjam</span>
        <input type="number" class="form-control !tw-bg-blue-50" name="barang_dipinjam" placeholder="jumlah barang" value="<%= selectedData.barang_dipinjam ?? '' %>" readonly required />
      </div>
    </div>
    <!-- BARANG -->

    <!-- MAHASISWA -->
    <div class="d-flex flex-column tw-w-[49.8%] tw-min-h-[40vh] rounded overflow-hidden">
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Nama Mahasiswa</span>
        <input type="text" class="form-control !tw-bg-blue-50" name="nama_mahasiswa" placeholder="nama mahasiswa" value="<%= selectedData.nama_mahasiswa ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Jenkel Peminjam</span>
        <input type="text" class="form-control !tw-bg-blue-50" name="jenkel_mahasiswa" placeholder="jenkel peminjam" value="<%= selectedData.jenkel_mahasiswa ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Alamat Peminjam</span>
        <input type="text" class="form-control !tw-bg-blue-50" name="alamat_mahasiswa" placeholder="alamat peminjam" value="<%= selectedData.alamat_mahasiswa ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Email Peminjam</span>
        <input type="text" class="form-control !tw-bg-blue-50" name="email_mahasiswa" placeholder="email peminjam" value="<%= selectedData.email_mahasiswa ?? '' %>" readonly required />
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-white px-2 py-0 px-2 py-0 tw-h-[8vh]">
        <span class="text-left tw-w-[25vw]">Nomor Ponsel Peminjam</span>
        <input type="text" class="form-control !tw-bg-blue-50" name="nh_mahasiswa" placeholder="nomor ponsel peminjam" value="<%= selectedData.nh_mahasiswa ?? '' %>" readonly required />
      </div>
    </div>
    <!-- MAHASISWA -->
  </form>
  <!-- FORM DETAIL -->
</div>
<!-- DETAIL -->